---
import "./faq1.css";
import { getFaq } from "../../lib/helpers/faq";
const { faqItems, cardData } = await getFaq();
---

<section id="faq-350">
  <div class="cs-container">
    <div class="cs-left">
      <!--Big Image-->
      <picture class="cs-picture cs-picture1" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.jpg"
          alt="cleaning supplies"
          width="672"
          height="672"
        />
      </picture>
      <!--Medium Image-->
      <picture class="cs-picture cs-picture2" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning2.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning2.jpg"
          alt="cleaning supplies"
          width="300"
          height="300"
        />
      </picture>
      <!--Small Image-->
      <picture class="cs-picture cs-picture3" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning1-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning1.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaning1.jpg"
          alt="cleaner"
          width="200"
          height="200"
        />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">Asked questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        {
          faqItems.map(item => (
            <li class="cs-faq-item">
              <button class="cs-button">
                <span class="cs-button-text">{item.question}</span>
              </button>
              <p class="cs-item-p">{item.answer}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>
