---
import { Image } from "astro:assets";
import "./hero.css";
import { getHeroSection } from "../../lib/helpers/hero";

const { heading, paragraph, heroDesktopImage, heroMobileImage, callToAction } =
  await getHeroSection();
---

<section style=`background-image: url(https:${heroDesktopImage});` id="hero-227">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">intro</span>
      <h1 class="cs-title">{heading}</h1>
      <p class="cs-text">{paragraph}</p>
      <a href="" class="cs-button-solid">{callToAction}</a>
      <a href="" class="cs-button-transparent">
        <Image
          class="cs-img"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
          alt="play icon"
          width="17"
          height="17"
          aria-hidden="true"
        />
         Learn More
      </a>
    </div>
    <!--Service Cards-->
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Choose Place Activity and Time</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit
            amet nulla facilisi.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Find People With The Same Ideas</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit
            amet nulla facilisi.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Start Chat And Ask Them To Go</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit
            amet nulla facilisi.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
