---
import "../styles/reviews.css";
---

<section id="reviews-981">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            George Thomas
            <span class="cs-job">Founder Of Yokoloko</span>
          </span>
        </div>
        <p class="cs-review">
          Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris
          pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo.
        </p>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Mason James
            <span class="cs-job">Senior Gardener Farmer</span>
          </span>
        </div>
        <p class="cs-review">
          Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris
          pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
        </p>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            George Thomas
            <span class="cs-job">Founder Of Yokoloko</span>
          </span>
        </div>
        <p class="cs-review">
          Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris
          pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
        </p>
      </li>
    </ul>
  </div>
</section>
