---
import "../styles/services.css";
---

<section id="services-281">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">What We Can Do For You</h2>
      <div class="cs-flex">
        <p class="cs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean
          egestas suspendisse neque.
        </p>
        <a href="" class="cs-link"
          >Read More About Our Process
          <!-- Arrow SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <g clip-path="url(#clip0_1_114)">
              <path
                d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z"
                fill="#1A1A1A"></path>
            </g><defs
              ><clipPath id="clip0_1_114-281-281"
                ><rect width="20" height="20" fill="white"></rect></clipPath
              ></defs
            >
          </svg>
        </a>
      </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-icon"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Services/shirt-solid.svg"
          alt="svg icon"
          width="37"
          height="29"
          loading="lazy"
          decoding="async"
        />
        <h3 class="cs-h3">Design</h3>
        <p class="cs-item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Services/ruler-solid.svg"
          alt="svg icon"
          width="29"
          height="29"
          loading="lazy"
          decoding="async"
        />
        <h3 class="cs-h3">Sizing</h3>
        <p class="cs-item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Services/fill-drip-solid.svg"
          alt="svg icon"
          width="33"
          height="30"
          loading="lazy"
          decoding="async"
        />
        <h3 class="cs-h3">Colouring</h3>
        <p class="cs-item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Services/boxes-packing.svg"
          alt="svg icon"
          width="37"
          height="30"
          loading="lazy"
          decoding="async"
        />
        <h3 class="cs-h3">Packaging</h3>
        <p class="cs-item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
        </p>
      </li>
    </ul>
  </div>
</section>
