---
import "../styles/services.css";
---

<section id="services-264">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Services</span>
      <h2 class="cs-title">What We Do</h2>
      <p class="cs-text">
        We are a full service construction company offering everything from residential and
        commercial painting to full home remodels and new home additions.
      </p>
      <a href="/portfolio.html" class="cs-button-solid">View Portfolio</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <h3 class="cs-h3">New Home Construction</h3>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s1.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s1.png"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/s1.png"
            alt="house"
            width="275"
            height="132"
          />
        </picture>
      </li>
      <li class="cs-item">
        <span class="cs-h3">Renovations</span>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s2.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s2.png"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/s2.png"
            alt="stairs"
            width="275"
            height="132"
          />
        </picture>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">Additions</h3>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s3.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/s3.png"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/s3.png"
            alt="bathroom"
            width="275"
            height="132"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
