---
import { Image } from "astro:assets";
import Location from "../components/icons/Location.astro";

export const topBarLinks = [
  {
    title: "Call Us",
    href: "tel:555-456 7899",
    imageSrc: "https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke.svg",
    details: "+1 (555) 456 7899",
  },
  {
    title: "Send a message",
    href: "mailto:info@example.com",
    imageSrc:
      "https://d33wubrfki0l68.cloudfront.net/1b6c2930ea55b86276bbe68440793d607d43a2ab/84d9d/assets/images/mail-nav.svg",
    details: "Click To Email Us",
  },
  {
    title: "Location",
    href: "",
    details: "Australia",
  },
];
---

<ul class="cs-top-bar">
  {
    topBarLinks.map(link => {
      return (
        <li class="cs-item">
          {link.title === "Location" ? <Location size="25" /> : ""}
          {link.title === "Send a message" ? <Location size="25" /> : ""}
          {link.title === "Call Us" ? <Location size="25" /> : ""}

          <div class="cs-flex">
            <span class="cs-header">{link.title}</span>
            <a href={link.href} class="cs-link">
              {link.details}
            </a>
          </div>
        </li>
      );
    })
  }
</ul>
