---
import "./navigation.css";
import TopBar from "../top-bar/TopBar.astro";
import NavMenu from "./nav-menu/NavMenu.astro";
import Logo from "../logo/Logo.astro";
---

<header id="cs-navigation">
  <Logo />
  <TopBar />
  <div class="cs-bottom-bar">
    <nav class="cs-nav" role="navigation">
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <div class="cs-ul-wrapper">
        <NavMenu />
      </div>
    </nav>
    <a href="/contact" class="cs-button-solid cs-nav-button">Contact Us</a>
  </div>
</header>

<script>
  // add classes for mobile navigation toggling
  let CSbody = document.querySelector("body");
  const CSnavbarMenu = document.querySelector("#cs-navigation");
  const CShamburgerMenu = document.querySelector("#cs-navigation .cs-toggle");
  const csNav = document.querySelector("#cs-navigation");

  CShamburgerMenu?.addEventListener("click", function () {
    CShamburgerMenu.classList.toggle("cs-active");
    CSnavbarMenu?.classList.toggle("cs-active");
    CSbody?.classList.toggle("cs-open");

    ariaExpanded();
  });

  function ariaExpanded() {
    const csUL = document.querySelector("#cs-expanded");
    const csExpanded = csUL?.getAttribute("aria-expanded");

    if (csExpanded === "false") {
      csUL?.setAttribute("aria-expanded", "true");
    } else {
      csUL?.setAttribute("aria-expanded", "false");
    }
  }

  const dropDowns = Array.from(document.querySelectorAll("#cs-navigation .cs-dropdown"));
  for (const item of dropDowns) {
    const onClick = () => {
      item.classList.toggle("cs-active");
    };
    item.addEventListener("click", onClick);
  }

  document.addEventListener("scroll", e => {
    const scroll = document.documentElement.scrollTop;
    if (scroll >= 100) {
      csNav!.classList.add("scroll");
    } else {
      csNav!.classList.remove("scroll");
    }
  });
</script>
