<!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->
<ul id="list-1186" class="cs-ul">
  <li class="cs-li">
    <picture class="cs-li-picture">
      <img
        class="cs-li-icon"
        aria-hidden="true"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/247.svg"
        decoding="async"
        alt="icon"
        width="32"
        height="32"
        loading="lazy"
      />
    </picture>
    <div class="cs-flex">
      <h3 class="cs-h3">Wheel Alignment</h3>
      <p class="cs-li-text">
        We provide top notch Wheel alignment service for all types of vehicle makes and models.
      </p>
    </div>
  </li>
  <li class="cs-li">
    <picture class="cs-li-picture">
      <img
        class="cs-li-icon"
        aria-hidden="true"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/members.svg"
        decoding="async"
        alt="icon"
        width="32"
        height="32"
        loading="lazy"
      />
    </picture>
    <div class="cs-flex">
      <h3 class="cs-h3">Wheel Alignment</h3>
      <p class="cs-li-text">
        We provide top notch Wheel alignment service for all types of vehicle makes and models.
      </p>
    </div>
  </li>
  <li class="cs-li">
    <picture class="cs-li-picture">
      <img
        class="cs-li-icon"
        aria-hidden="true"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/clock-zoom.svg"
        decoding="async"
        alt="icon"
        width="32"
        height="32"
        loading="lazy"
      />
    </picture>
    <div class="cs-flex">
      <h3 class="cs-h3">Wheel Alignment</h3>
      <p class="cs-li-text">
        We provide top notch Wheel alignment service for all types of vehicle makes and models.
      </p>
    </div>
  </li>
</ul>
<style>
  /* Mobile - 360px */
  /* you can copy and paste these styles into the section CSS where you placed the #list-1186 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
  @media only screen and (min-width: 0rem) {
    #list-1186 {
      width: 100%;
      max-width: 39.375rem;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1.5rem;
    }
    #list-1186 .cs-li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #list-1186 .cs-li-picture {
      /* 60px - 80px */
      width: clamp(3.75rem, 6vw, 5rem);
      height: clamp(3.75rem, 6vw, 5rem);
      margin: 0;
      background-color: #f7f7f7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #list-1186 .cs-li-icon {
      /* 24px - 32px */
      width: clamp(1.5rem, 3vw, 2rem);
      height: auto;
      display: block;
    }
    #list-1186 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      margin: 0 0 0.75rem 0;
      color: var(--headerColor);
    }
    #list-1186 .cs-li-text {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: left;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
</style>
