---
import "../styles/faq.css";
---

<section id="faq-489">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">FAQ</span>
      <h2 class="cs-title">
        If Your Question Is Not Here <span class="cs-color">Contact Us</span>
      </h2>
      <p class="cs-text">
        Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Nisi scelerisque eu
        ultrices vitae auctor eu augue ut lectus
      </p>
      <a href="" class="cs-button-solid">View Full FAQ</a>
    </div>
    <ul class="cs-faq-group">
      <!-- Active class added as default -->
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Lorem Ipsum Dolor Set Amet?</span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque,
          bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant.
          Dignissim ipsum porta enim, magna urna, quam.
        </p>
      </li>
      <li class="cs-faq-item active">
        <button class="cs-button">
          <span class="cs-button-text"> Lorem Ipsum Dolor Set Amet?</span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque,
          bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant.
          Dignissim ipsum porta enim, magna urna, quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Lorem Ipsum Dolor Set Amet?</span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque,
          bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant.
          Dignissim ipsum porta enim, magna urna, quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Lorem Ipsum Dolor Set Amet?</span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque,
          bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant.
          Dignissim ipsum porta enim, magna urna, quam.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Lorem Ipsum Dolor Set Amet?</span>
        </button>
        <p class="cs-item-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque,
          bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant.
          Dignissim ipsum porta enim, magna urna, quam.
        </p>
      </li>
    </ul>
  </div>
</section>
<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>
