---
import type { EntryFieldTypes } from "contentful/dist/types/types/entry";
import { contentfulClient } from "../lib/contentful";
import { Image } from "astro:assets";
import type { AssetFile } from "contentful/dist/types/types/asset";

interface LogoImage {
  contentTypeId: "logo";
  fields: {
    description: EntryFieldTypes.Text;
    file: AssetFile;
    logo: AssetFile;
  };
}

const response = await contentfulClient.getEntry<LogoImage>(import.meta.env.CONTENTFUL_LOGO);
//@ts-ignore
const { description, file } = response.fields.logo?.fields || {};
const logo: string = file.url;
---

<a href="/" class="cs-logo" aria-label="back to home">
  <img src={logo} alt={description} width="210" height="29" aria-hidden="true" />
</a>
