---
import { contentfulClient } from "../lib/contentful";
import "../styles/service.css";
import ServiceItem from "./ServiceItem.astro";

interface ServiceFields {
  heading: string;
  paragraph: string;
  [key: string]: string;
}

interface ServiceModel {
  contentTypeId: "service";
  fields: ServiceFields;
}
interface ServiceCardModel {
  contentTypeId: "serviceCard";
  fields: Record<string, string>;
}

const service = await contentfulClient.getEntry<ServiceModel>(import.meta.env.CONTENTFUL_SERVICE);

const serviceData = await contentfulClient.getEntries<ServiceCardModel>({
  content_type: "serviceCard",
});

const serviceItems = serviceData.items.map(service => {
  return {
    //@ts-ignore
    iconSrc: service.fields.cardIcon.fields,
    title: service.fields.cardTitle,
    description: service.fields.cardText,
  };
});

const { heading, paragraph } = service.fields || {};
---

<br />
<section id="services-1301">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">{heading}</h2>
      </div>
      <p class="cs-text">{paragraph}</p>
    </div>
    <ul class="cs-card-group">
      {serviceItems.reverse().map((item, index) => <ServiceItem key={index} {...item} />)}
    </ul>
  </div>
</section>
<br />
